<!-- src/app/landing/landing.component.html -->
 <div class="flex h-screen flex-col overflow-hidden">
    <app-navbar></app-navbar>
<div class="container mx-auto p-6">
  <!-- <div class="flex justify-between items-center mb-6">
    <app-logo></app-logo>
    <h2 class="text-3xl font-bold  text-gray-800">Servers</h2>
    <div class="ml-2 flex items-center space-x-3"> 
      <button (click)="openAddModal()" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition-colors duration-200">Add Connection</button>
      <button (click)="logout()" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition-colors duration-200">Logout</button>
    </div>
  </div> -->
  
  <app-connection-list
    [connections]="connections"
    (onConnectionSelect)="onConnectionSelect($event)"
    (onEdit)="openEditModal($event)"
    (onDelete)="openDeleteDialog($event)"
  ></app-connection-list>
  <app-connection-modal
    [isOpen]="isModalOpen"
    [connection]="selectedConnection || { username: '', password: '', host: '', port: 0, dbType: 'mysql2', database: '', socketPath: '' }"
    (onSave)="saveConnection($event)"
    (onCancel)="closeModal()"
  ></app-connection-modal>
  <app-confirmation-dialog
    [isOpen]="isConfirmDialogOpen"
    message="Are you sure you want to delete this connection?"
    (onConfirm)="confirmDelete()"
    (onCancel)="closeConfirmDialog()"
  ></app-confirmation-dialog>
</div>
</div>
